.bookImage {
    padding: 5px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bookInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.bookInfo>* {
    padding: 5px;
}